.log-in-main {
    padding-top: 10px;
    padding-bottom: 70px;
}

.log-in-main input {
    width: 100%;
    height: 50px;
}

.log-in-main .btn {
    background-color: rgb(46, 107, 102);
}
.card-header {
    color: rgb(46, 107, 102);
    background-color: transparent;
    text-align: center;
    font-size: xx-large;
    border: none;
}

.error-message {
    font-style: italic;
    margin-bottom: auto;
    font-size: small;
    color: rgba(249, 24, 24, 0.895);
}