nav {
  background-color: rgb(46, 107, 102);
  font-family: "Lucida Console", Courier, monospace;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg) !important;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 100%;
}
.nav-link {
  color: #ffffff;
}
.nav-link :active {
  color: #183634;
}
.footer {
  bottom: 0;
  width: 100%;

  display: flex;
  background-color: rgb(46, 107, 102);
  padding-bottom: 0;
  margin-bottom: 0;
  justify-content: left;
  align-items: center;
}
.academic p {
  color: #c8d6e5;
  margin-top: 2%;
  margin-left: 5px;
}
.socialconnect p {
  color: #c8d6e5;

}

.socialconnect a {
  text-decoration: none;
  color: #ffffff;
  margin-top: 10px;
    margin-left: 5px;

}

.footer-links {
  list-style: none;
  margin-top: 100px;
}

.footer-links a {
  color: #ebdbdb;
  text-decoration: none;
  margin-left: 5px;
  margin-bottom: 5px;
}

.footer-links a:hover {
  color: #b1bdca;
  text-decoration: none;
}