<div class="footer">


  <div class="socialconnect">
    <a href="https://www.facebook.com/" class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/" class="fa fa-twitter"></a>
    <a href="https://instagram.com/" class="fa fa-instagram"></a>
    <a href="https://linkedin.com/" class="fa fa-linkedin"></a>


    <div class="academic">
      <p>By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca
        <br>Academic Policy. No part of this assignment has been copied manually or electronically from any
        <br> other source or distributed to other students.
        <br>
        <br>
        &copy; Jasprit Kaur, jkaur537@myseneca.ca, WEB 322 Winter 2023

      </p>
    </div>
    <br>




  </div>