<nav>
  <div class="logojk">
    <a href="/"><img src="logo2.png" alt="logo"></a>
  </div>
  <ul class="nav-links">

    <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="/rentals"><i class="fa fa-bed"></i>Rentals</a></li>
    {{#if isUser}}
    {{else}}
  <li><a href="/sign-up"><i class="fa fa-share"></i>Sign Up</a></li>
  <li><a href="/log-in"><i class="fa fa-check"></i>Log In</a></li>
    {{/if}}
  </ul>
  <div class="format">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
  </div>
</nav>