<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="logo2.png" alt="logo" style="width: 200px;"></a>
  <button style="background-color: white;" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{#navLink "/"}}Home{{/navLink}}
      {{#if authenticated}}
      {{#if isCustomer}}
      {{#navLink "/cart-dashboard"}}{{authenticated.user_Fname}}{{/navLink}}
      {{else}}
      {{#navLink "/rentals"}}{{authenticated.user_Fname}}{{/navLink}}
      {{/if}}
      {{#navLink "/log-out"}}Log Out{{/navLink}}
      {{else}}
      {{#navLink "/sign-up"}}Sign Up{{/navLink}}
      {{#navLink "/log-in"}}Log In{{/navLink}}
      {{/if}}
      </ul>
  </div>
</nav>