{{#> main title="Renttastic - Home"}}


<div class="Entry">


  <div class="destination">
    <h5>Book your getaway</h5>
    <br>
    <label for="destination">Destination</label>
    <select name="destination" id="destination">
      <option value="Toronto">Toronto</option>
      <option value="Vancouver">Vancouver</option>
      <option value="Montreal">Montreal</option>
      <option value="Alberta">Alberta</option>
      <option value="Winnipeg">Winnipeg</option>
      <option value="Ottawa">Ottawa</option>
    </select>




    <label for="in">Check-in</label>
    <input type="date" name="checkin">


    <label for="out">Check-out</label>
    <input type="date" name="checkout">


    <label for="guests" name="guests">Guests</label>
    <select name="guests" id="guests">

      <option value="guest1">1 Guest</option>
      <option value="guest2">2 Guests</option>
      <option value="guest3">3 Guests</option>
      <option value="guest4">4+ Guests</option>
    </select>



    <button class="button"></button>

  </div>
</div>


<div class="information">
  <h2>View Our Locations</h2>
  <div class="container-fluid horizontal-scrollable">
    <div style="height: max-content;">
      <img class="imgloc" src="loc1.jpg" alt="img">
      <p class="ploc">TORONTO</p>
    </div>
    <div style="height: max-content;">
      <img class="imgloc" src="loc2.jpg" alt="img">
      <p class="ploc">ALBERTA</p>
    </div>
    <div style="height: max-content;">
      <img class="imgloc" src="loc3.jpg" alt="img">
      <p class="ploc">VANCOUVER</p>
    </div>
    <div style="height: max-content;">
      <img class="imgloc" src="loc4.jpg" alt="img">
      <p class="ploc">NIAGARA FALLS</p>
    </div>
    <div style="height: max-content;">
      <img class="imgloc" src="loc5.jpg" alt="img">
      <p class="ploc">MONTREAL</p>
    </div>
  </div>
</div>


<div class="about">

  <p>Easy to use, easy to browse...</p>
  <ul class="imgcover">
    <li><img src="grid1.jpg" alt="img">
      <h3>Customer services</h3>

      <h5>Our services provides you<br> with 24 hour support.</h5>
    </li>

    <li><img src="grid2.jpg" alt="img">
      <h3>Booking</h3>

      <h5>The entire process, from booking<br> to staying, is simple and enjoyable.</h5>
    </li>
    <li><img src="grid3.jpg" alt="img">
      <h3>More for less</h3>

      <h5>More space, privacy, and <br>amenities.But less value.</h5>
    </li>

    <li><img src="grid4.jpg" alt="img">
      <h3>Feel like home</h3>

      <h5>Enjoy full kitchens, laundry, <br>pools and other amenities..</h5>
    </li>
  </ul>
</div>



<ul class="featured">

  <h2>Our Featured Listings</h2>

  <br>
  <div class="container-fluid horizontal-scrollable">
    <li><img src="1.jpg" alt="hotel">
      <p>ENTIRE HOUSE - TORONTO</p>
      <h6>3 BHK</h6>
      <p>$350 CAD/night</p>
      <p><i class="fa fa-star" aria-hidden="true"></i> 4.56(25)</p>
    </li>

    <li><img src="2.jpg" alt="hotel">
      <p>CONDO - VANCOUVER</p>
      <h6>1 BHK</h6>
      <p>$180 CAD/night</p>
      <p><i class="fa fa-star" aria-hidden="true"></i> 4.75(87)</p>
    </li>



    <li style="margin-right: 100px;"><img src="3.jpg" alt="hotel">
      <p>LUXURY TOWNHOUSE - MONTREAL</p>
      <h6>4 BHK</h6>
      <p>$560 CAD/night</p>
      <p><i class="fa fa-star" aria-hidden="true"></i> 4.78(96)</p>
    </li>

  </div>
</ul>



</div>

{{/main}}