<div class="container my-5">
  <form class="signup-form" id="log-in">
    <h1>Log In</h1>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="text" class="form-control" name="email" autofocus>
      <p id="email-error" class="error-message"></p>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" class="form-control" name="password">
      <p id="password-error" class="error-message"></p>
    </div>
    <div class="form-group">
      <label for="password">Role:</label>
      <div class="custom-control custom-radio">
        <input type="radio" id="role1" name="role" class="custom-control-input">
        <label class="custom-control-label" for="role1">Data Entry Clerk</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="role2" name="role" class="custom-control-input" checked>
      <label class="custom-control-label" for="role2">Customer</label>
    </div>
    </div>
    <button type="submit">Log In</button>
    </form>
</div>
  <script src="login.js"></script>