<div class="container my-5">
  <form class="signup-form" id="sign-up">
    <h1>Sign Up</h1>
    <div class="form-group">
      <label for="fName">First Name:</label>
      <input id="fName" type="text" name="fName" autofocus>
      <p id="fName-error" class="error-message"></p>
    </div>
    <div class="form-group">
      <label for="lName">Last Name:</label>
      <input id="lName" type="text" class="form-control" name="lName">
      <p id="lName-error" class="error-message"></p>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="text" name="email">
      <p id="email-error" class="error-message"></p>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="text" name="password">
      <p id="password-error" class="error-message"></p>
    </div>
    <button type="submit">Sign Up</button>
    </form>
</div>
<script src="signup.js"></script>