<main>
    <div class="rental-card card">
        <div class="card-body">
            <h5 class="card-header"> Welcome to Renttastic!</h5>
            <h2 class="my-3">Hello <span id="user-name">{{authenticated.user_Fname}}</span></h2>
            <p>Your email address is <span id="user-email">{{authenticated.user_email}}</span>.</p>
        </div>
    </div>
</main>
<script src="welcome.js"></script>